<app-navbar></app-navbar>
<header class="site-header size-lg text-center" style="height:250px;background-image: url(assets/img/search-banner.jpg)">
  <div class="container">
    <div class="col-xs-12">
      <br><br>
      <h2>Huge <mark>Jobs & Services</mark> Variety {{o}}</h2>
      <h5 class="font-alt">Find your desire on one minute</h5>
      <br><br><br>
    
    </div>

  </div>
</header>
   <!-- Main container -->
   <main>
    <!-- Recent jobs -->
    <section>
      <div class="container">
        <header class="section-header">
          <span>Search</span>
          <h2>What Are You Looking For Today ?</h2>
          <form class="header-job-search" #f="ngForm"  >
            <div class="input-keyword">
              <input type="text" class="form-control" placeholder="Job title, skills, or company"  (keyup)="find(lastname.value)" name="lastname"    ngModel #lastname="ngModel">
            </div>
          </form>  
        </header>

        <div class="row item-blocks-connected">

          <!-- Job item -->
          <div class="col-xs-12" *ngFor="let p of x | paginate:{ itemsPerPage:4 , currentPage: p}" (click)="t=p.email">
            <a *ngIf="p.photo!=null" class="item-block" (click)="details(p.id)">
              <header>
                <img src="http://localhost/upload/upload/{{p.photo}}" alt="">
                <div class="hgroup">
                  <h4>{{p.firstname+" "+p.lastname}}</h4>
                  <h5>{{p.about}}</h5>
                </div>
                <div class="header-meta">
                  <span class="location">{{p.address.gouvernorat+", "+p.address.municipalite+", "+p.address.rue}}</span>
                  <span class="label label-success">Individual</span>
                </div>
              </header>
            </a>
            <a *ngIf="p.logo!=null" class="item-block" (click)="details(p.id)">
              <header>
                <img src="http://localhost/upload/upload/{{p.logo}}" alt="">
                <div class="hgroup">
                  <h4>{{p.name}}</h4>
                  <h5>{{p.about}}</h5>
                </div>
                <div class="header-meta">
                  <span class="location">{{p.address.gouvernorat+", "+p.address.municipalite+", "+p.address.rue}}</span>
                  <span class="label label-info">Company</span>
                </div>
              </header>
            </a>
         </div>
         
        </div>

        <br><br>
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
      </div>
    </section>
</main>          
<app-footer></app-footer>