<app-navbar></app-navbar> 
<form #f="ngForm" (ngSubmit)="saveUpdates()">
  <header class="page-header bg-img size-lg" style="background-image: url(assets/img/search-banner.jpg);padding-top:400px; ">
  <div class="container">
   
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-2">
              <nav>
                <ul class="pager">
                  <li class="previous"><a routerLink="/profile"><i class="ti-arrow-left"></i> Prev</a></li>
                </ul>
              </nav>
                  
                  <div class="form-group">
                    <input style="width: 300px;" type="file"  ngFileSelect  [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)"   >
                    
                    <img  style="margin-top: 20px;" src="http://localhost/upload/upload/{{image}}">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-8 col-lg-10">
                  
                  <div  *ngIf="type=='Company'" class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Comapny name" name="name"    [(ngModel)]="account.Name">
                  </div>
                  <div *ngIf="type=='Simple'" class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="First name" name="firstname"    [(ngModel)]="account.firstname">
                  </div>
                  <div  *ngIf="type=='Simple'" class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Last name" name="lastname"   [(ngModel)]="account.lastname">
                  </div>
                  
                
                  <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Short description" name="about"    [(ngModel)]="account.About"></textarea>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xs-12">
              <div class="row">

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" placeholder="Governorat" name="Governorat"    [(ngModel)]="address.Gouvernorat">
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" placeholder="Municipalité" name="Municipalite"   [(ngModel)]="address.Municipalite">
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" placeholder="Rue" name="Rue"    [(ngModel)]="address.Rue">
                  </div>
                </div>

                <div *ngIf="type=='Company'" class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                    <input type="text" class="form-control" placeholder="Facebook page link" name="facebook"   [(ngModel)]="account.facebook">
                  </div>
                </div>

                <div *ngIf="type=='Company'" class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                    <input type="text" class="form-control" placeholder="Twitter link" name="twitter"    [(ngModel)]="account.twitter">
                  </div>
                </div>

               

                <div *ngIf="type=='Company'" class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    <input type="text" class="form-control" placeholder="Website address" name="website"    [(ngModel)]="account.website">
                  </div>
                </div>


                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="text" class="form-control" placeholder="Phone number" name="phone"    [(ngModel)]="account.Phone">
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="Email address" name="email"    [(ngModel)]="account.Email">
                  </div>
                </div>

              </div>
            </div>


          </div>

          
          <button type="submit" class="btn btn-block btn-primary">Save </button>
        </div>

    </header>
  </form>
              